{% extends 'base.html' %}
{% block title %} Декоратор {% endblock %}
{% block content %}
    <div class="bg-light p-5 rounded">
        <h1>Декоратор</h1>
        <h2>Описание</h2>

        <p>
            <b>Название и классификация паттерна:</b><br>
            Декоратор - паттерн, структурирующий объекты.
        </p>

        <p>
            <b>Назначение:</b><br>
            Динамически добавляет объекту новые обязанности. Является гибкой
            альтернативой порождению подклассов с целью расширения функциональности.
        </p>

        <p>
            <b>Известен также под именем:</b> Wrapper (обертка).
        </p>

        <p>
            Иногда бывает нужно возложить дополнительные обязанности на
            отдельныйобъект, а не на класс в целом.<br>
            Добавить новые обязанности допустимо с помощью наследования.
            Однако это решение статическое, а значит, недостаточно гибкое.
        </p>

        <p>
            Более гибким является другой подход: поместить компонент в другой
            объект, называемый декоратором.<br>
            Декоратор следует интерфейсу декорируемого объекта,
            поэтому его присутствие прозрачно для
            клиентов компонента.
        </p>

        <p>
            Декоратор переадресует запросы внутреннему компоненту,
            но может выполнять и дополнительные действия.
            Поскольку декораторы прозрачны, они могут вкладываться друг в друга,
            добавляя тем самым любое число новых обязанностей.
        </p>

        <h3>Мониторинг параметров сервера (CPU, Memory):</h3>
        <ul>
            <li>Hostname - компонент</li>
            <li>CPU и Memory - декораторы</li>
        </ul>
        <h2>Результаты применения</h2>
        <p class="lead">{{ decorator | safe }} </p>
    </div>
{% endblock %}