{% extends 'base.html' %}
{% block title %} Посетитель {% endblock %}
{% block content %}
    <div class="bg-light p-5 rounded">
        <h2>Посетитель</h2>
        <h3>Описание</h3>

        <p>
            <b>Название и классификация паттерна:</b>
            Посетитель - паттерн поведения объектов.
        </p>

        <p>
            <b>Назначение:</b>
            Описывает операцию, выполняемую с каждым объектом из некоторой структуры.
            Паттерн посетитель позволяет определить новую операцию, не изменяя
            классы этих объектов.
        </p>

        <p>
            Применяя паттерн посетитель, вы определяете две иерархии классов:
            одну для элементов, над которыми выполняется операция (иерархия Node),
            а другую - для посетителей, описывающих те операции, которые выполняются
            над элементами (иерархия NodeVisitor). Новая операция создается
            путем добавления подкласса в иерархию классов посетителей.
            До тех пор пока грамматика языка остается постоянной
            (то есть не добавляются новые подклассы Node), новую функциональность
            можно получить путем определения новых подклассов NodeVisitor.
        </p>

        <p>
            <b>Используйте паттерн посетитель, когда:</b>
            <ul>
                <li>
                    в структуре присутствуют объекты многих классов с различными
                    интерфейсами и вы хотите выполнять над ними операции,
                    зависящие от конкретных классов;
                </li>

                <li>
                    над объектами, входящими в состав структуры, надо выполнять
                    разнообразные, не связанные между собой операции и вы не хотите
                    «засорять» классы такими операциями. Посетитель позволяет
                    объединить родственные операции, поместив их в один класс.
                    Если структура объектов является общей для нескольких приложений,
                    то паттерн посетитель позволит в каждое приложение включить
                    только относящиеся к нему операции;
                </li>

                <li>
                    классы, устанавливающие структуру объектов, изменяются редко,
                    но новые операции над этой структурой добавляются часто.
                    При изменении классов, представленных в структуре, нужно
                    будет переопределить интерфейсы всех посетителей,
                    а это может вызвать затруднения. Поэтому если классы меняются
                    достаточно часто, то, вероятно, лучше определить операции прямо в них.
                </li>
            </ul>

        </p>

        <h3>Вычисление стоимости комплектующих:</h3>
        <ul>
            <li>CPU</li>
            <li>RAM</li>
        </ul>
        <h3>Сумма к оплате</h3>
        <p class="lead">{{ visitor1 | safe }} </p>
        <p class="lead">{{ visitor2 | safe }} </p>

    </div>
{% endblock %}